.Card {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.Card .Header {
    display: flex;
    justify-content: center;
}

.Card .Header .Title {
    flex: 1;
    padding: 5px;
}

.Card .Content {
    padding: 20px;
}

.Card.Red .Header { color: #FFF; background-color: #c62828; }
.Card.Red .Content { background-color: #f44336; }

.Card.Green .Header { color: #FFF; background-color: #2e7d32; }
.Card.Green .Content { background-color: #4caf50; }

.Card.Blue .Header { color: #FFF; background-color: #1565c0; }
.Card.Blue .Content { background-color: #2196f3; }

.Card.Purple .Header { color: #FFF; background-color: #6A1B9A; }
.Card.Purple .Content { background-color: #9c27b0; }